// footer
.page__main-footer
	.container
		.main-footer
			.column-row
				.column.main-footer__left
					a(href="/").main-logo
						img(src="img/logo.png", alt="KDL")
					.copyright © 2003–2016 <br> Группа компаний KDL 
				.column.ta-right.main-footer__contacts
					ul.social
						li: a(href="#"): i.icon.icon-fb
						li: a(href="#"): i.icon.icon-inst
						li: a(href="#"): i.icon.icon-ok
						li: a(href="#"): i.icon.icon-vk
					a(href="tel: +78007006040").tel 8 800 700-60-40
					a(href="#homeForm" title="Заказать выезд на дом").scrollto.btn.btn--redbd Заказать выезд на дом
// /footer