// header
.page__main-header
	.container
		.main-header
			.column-row
				.column
					a(href="/").main-logo
						img(src="img/logo.png", alt="KDL")
						img(src="img/small-logo.png", alt="KDL").mobile-logo
				.column.ta-center.main-header__menu
					
					ul.main-menu
						li: a(href="#") О компании
						li: a(href="#") Статьи
						li: a(href="#") Вопросы-ответы
						li: a(href="#") Контакты
				.column.ta-right.main-header__contacts
					a(href="tel: +78007006040").tel 8 800 700-60-40
					a(href="#homeForm" title="Заказать выезд на дом", , ).btn.btn--redbd.scrollto Заказать выезд на дом
				#navButton
						span
						span
						span
						span
// /header