$bodyfont: 16;
@import "settings/mixins";
/*-------------------------------------------------*/
/*    bootstrap
/*-------------------------------------------------*/
@import "libs/bootstrap-grid.scss";
// @import "libs/normalize";
/*-------------------------------------------------*/
/*    boilerplate
/*-------------------------------------------------*/
@import "libs/boilerplate";
/*-------------------------------------------------*/
/*    fancybox
/*-------------------------------------------------*/
@import "libs/fancybox";
/*-------------------------------------------------*/
/*    swiper
/*-------------------------------------------------*/
@import "libs/swiper";
/*-------------------------------------------------*/
/*    jquery.formstyler
/*-------------------------------------------------*/
@import "libs/jquery.formstyler";
/*-------------------------------------------------*/
/*    animate
/*-------------------------------------------------*/
@import "libs/animate";
/*-------------------------------------------------*/
/*    sprite
/*-------------------------------------------------*/
@import "settings/sprite";
/*-------------------------------------------------*/
/*    fonts
/*-------------------------------------------------*/
@import "settings/fonts";
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/iconmoon/icomoon.eot?gvwdae');
  src:  url('../fonts/iconmoon/icomoon.eot?gvwdae#iefix') format('embedded-opentype'),
    url('../fonts/iconmoon/icomoon.ttf?gvwdae') format('truetype'),
    url('../fonts/iconmoon/icomoon.woff?gvwdae') format('woff'),
    url('../fonts/iconmoon/icomoon.svg?gvwdae#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
	
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-l:before {
  content: "\e906";
}
.icon-mouse:before {
  content: "\e904";
}
.icon-select-arr:before {
  content: "\e905";
}
.icon-arrow:before {
  content: "\e900";
}
.icon-microscope:before {
  content: "\e903";
}
.icon-car:before {
  content: "\e901";
}
.icon-clock:before {
  content: "\e902";
}

/*-------------------------------------------------*/
/*    sprites
/*-------------------------------------------------*/
@include sprites($spritesheet-sprites);
.icon{
    display: inline-block;
    vertical-align: middle;
}
/*-------------------------------------------------*/
/*  author styles
/*-------------------------------------------------*/
body{
	background-color: #FFF;
	font-size: 100%;
	font-family: Circe;
	min-width: 320px;
	img{
		max-width: 100%;
	}
}
/* -------------------------------
	elements
------------------------------- */
.swiper-controls{
	button{
		line-height: 0;
		width: 62px;
		height: 62px;
		border: 2px solid #3D2F5F;
		background: none;
		border-radius: 50%;
		color: #3D2F5F;
		font-size: 15px;
		&:hover{
			background-color: #3D2F5F;
			color: white;
		}
	}
}
.ul{
	li{
		position: relative;
		padding-left: 27px;
		&:after{
			content: '';
			width: 16px;
			height: 16px;
			border: 3px solid #fff;
			border-radius: 50%;
			display: block;
			position: absolute;
			top: 2px;
			left: 0;
		}
	}
}
.pad-lg{
	padding: 105px 0;
}
h2{
	@include fz(54,64);
	font-weight: 400;
	margin-bottom: 10px;
	color: #403360; 
}
.header-desc{
	@include fz(18,18);
	color: #403360;
}
.header-offset{
	margin-bottom: 45px;
}
.btn{
	text-align: center;
	display: inline-block;
	transition: all .3s;
	background: none;
	padding: 14px 26px;
	border-radius: 6px;
	vertical-align: middle;
	border: 2px solid;
	&.md{
		font-size: 18px;
	}
	&--redbd{
		border-color: #b2296e;
		color: #b2296e;
		&:hover{
			background-color: #b2296e;
			color: white;
		}
	}
	&--whitebd{
		border-color: white;
		color: white;
		&:hover{
			background-color: #B3246D;
			border-color: #B3246D;
			color: white;
		}
	}
	&--viobd{
		border-color: #3D2F5F;
		color: #3D2F5F;
		&:hover{
			background-color: #3D2F5F;
			border-color: #3D2F5F;
			color: white;
		}
	}
}

.small-gray{
	color: #7d778b;
	@include fz(15,24);
}

.input,.jq-selectbox__select{
	border: 1px solid #efefef;
	border-radius: 6px;
	padding-left: 20px;
	line-height: 54px;
	margin-bottom: 13px;
	background-color: #F5F5F5;
	border: none;
	display: block;
	width: 100%;
	height: 54px;
	background-size: border-box;
	outline:none;
	border: 2px solid transparent;
	transition: border 1s;
	&:focus{
		border: 2px solid #3D2F5F;
	}
}

textarea.input{
	height: 126px;
}

.jq-selectbox__trigger-arrow{
	position: static;
	font-family: icomoon;
	font-size: 7px;
	border: none;
	line-height: 0;
	width: 10px;
	height: 0;
	color: #3D2F5F;
	@extend .icon-select-arr;
	&:before{
		position: absolute;
		top: 50%;
		margin-top: -10px;
		display: block;
		width: 20px;
		height: 20px;
		line-height: normal;
		line-height: 20px;
		text-align: center
	}
}

.input-group{
	@extend .clearfix;
	input, select,.jq-selectbox{
		width: 49%;
		float: left;
		&:nth-child(2n+2){
			margin-left: 2%;
		}
	}
}

.social{
	display: inline-block;
	vertical-align: middle;
	white-space: nowrap;
	li{
		vertical-align: middle;
		display: inline-block;
		margin: 0 3px;
	}
	a{
		display: block;
	}
}
/* -------------------------------
	header
------------------------------- */
.mobile-logo{
	display: none;
}
.main-header, .main-footer{
	padding: 35px 0;
	position: relative;

	.column{
		

		&-row{
			width: 100%;
			display: table;
		}
		display: table-cell;
		vertical-align: middle;
	}
	&__contacts{
		white-space:nowrap;
		.tel{
			color: #3D2F5F;
			vertical-align: middle;
			font-weight: bold;
			@include fz(24);
			font-weight: bold;
			margin-right: 35px;
		}
	}
	.main-logo{
		display: block;
		margin-top: -25px;
		
	}
}

#navButton{
  width: 28px;
  height: 15px;
  position: relative;
  display: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#navButton span{
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #403360;
  border-radius: 3px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

/* Icon 3 */

#navButton span:nth-child(1) {
  top: 0px;
}

#navButton span:nth-child(2),#navButton span:nth-child(3) {
  top: 6px;
}

#navButton span:nth-child(4) {
  top: 12px;
}

#navButton.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#navButton.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#navButton.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#navButton.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.main-menu{
	@include fz(14);
	display: inline-block;
	font-weight: bold;
	text-transform: uppercase;
	li{
		display: inline-block;
		&:before{
			content: '';
			width: 1px;
			background-color: #E6E6E6;
			display: block;
			height: 14px;
			display: inline-block;
			vertical-align: middle;
			margin: 0 13px;
		}
		&:first-child:before{display:none;}
	}
	a{
		color: #403360;
	}
}

/* -------------------------------
	home-start
------------------------------- */

.home-start{
	.animated{
		display: none;
	}
	transition: height .3s;
	background-image: url('../img/home-start-bg.jpg');
	background-position: center top -15px;
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	height: 722px;
	min-height: 640px;
	position: relative;
	.mouse{
		position: absolute;
		bottom: 0;
		left: 0;
		display: inline-block;
		width: 86px;
		height: 58px;
		background-color: inherit;
		color: #3D2F5F;
		text-align: center;
		border-top-left-radius: 40px;
		border-top-right-radius: 40px;
		left: 50%;
		margin-left: -44px;
		margin-bottom: -10px;
		
		.icon-mouse{
			position: absolute;
			bottom: 0;
			width: 100%;
			text-align: center;
			font-size: 30px;
			

		}
	}
	.container{
		display: table;
		
		height: 100%;
		margin: 0 auto;
		
	}
	&__inner{
		display: table-cell;
		vertical-align: middle;
	}
	&__features{
		@include fz(18,21);
		margin: 20px 0 60px;
		li{
			display: inline-block;
			vertical-align: top;
			margin-left: 55px;
			&:first-child{
				margin-left: 0;
			}
		}
		.ico{
			font-size: 52px;
			height: 80px;
			line-height: 80px;
			margin-bottom: 17px;
			
			&>i{
				vertical-align: middle;
			}
		}
		.icon-clock{
			font-size: 65px;
		}
		.icon-microscope{
			font-size: 75px;
		}
	}
	.header{
		@include fz(36,40);
		strong{
			display: inline-block;
			margin: 20px 0;
			@include fz(80,72);
		}
	}
	.btn{
		max-width: 320px;
		font-size: 21px;
	}
}

/* -------------------------------
	home-form
------------------------------- */

.home-form{
	@include fz(18);
	
	background-image: url('../img/clock-bg.png');
	background-repeat: no-repeat;
	background-position: 56.4% center;
	&__text{
		padding-top: 20px;
		@include lh(18,30);
		.header{
			color: #403360;
			margin-bottom: 40px;
		}
		.time{
			color: #b2296e;
			@include fz(98,60);
			font-weight: 100;
			letter-spacing: -.05em;
			margin-bottom: 28px;
		}
		
	}
	&__right{
		float: right;
		@media screen and (min-width: 1199px){
			h2{
				@include fz(48, 54);
			}
		}
	}
	.small-gray{
		margin-top: 25px;
	}
}

.contact-form{
	border-radius: 6px;
	border: 1px solid #e6e6e6;
	background-color: #ffffff;
	overflow: hidden;
	font-size: 18px;
	&__body{padding: 35px 45px;}
	&__header{
		font-size: 24px;
		padding: 20px 45px;
		color: white;
		background-color: #3D2F5F;
	}

	input[type="submit"]{
		margin-top: 25px;
		font-size: 18px;
	}
}

/* -------------------------------
	price-list
------------------------------- */
.page__price-list{
	@include fz(18);
}
.price-list{
	margin-bottom: 40px;
	position: relative;
	&:after{
		content: '';
		background: white;
		height: 3px;
		left: 0;
		right: 0;
		bottom: -1px;
		position: absolute;
		display: block;
	}
	&__item{
		position: relative;
		border-bottom: 1px solid #D6CCE0;
		padding: 20px 0 15px;
		.name{
			color: #403360;
		}
		.price{
			@include fz(21);
			right: 0;
			top: 15px;
			color: #b2296e;
			font-weight: bold;
			position: absolute;
		}
		.date{
			@include fz(14);
			color: #7d778b;
		}
	}
	&__footer{
		
		.btn{
			margin: 5px 0 5px auto;
			display: block;
			max-width: 244px;
		}
	}
}

/* -------------------------------
	service
------------------------------- */

.page__home-service{
	background-image: url('../img/service-bg.jpg');
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
}

.home-service{
	@include fz(21);
	margin-bottom: 50px;
	.with-small{
		padding-bottom: 71px;
	}
	.small-text{
		@include fz(13);
		position: absolute;
		margin-top: 35px;
	}
	
	&__item{

		display: table;
		margin-bottom: 12px;
		.column{
			display: table-cell;
			vertical-align: middle;
			&:first-child{
				padding-right: 25px;
			}
		}

		.ico{
			
			content: '';
			width: 48px;
			height: 48px;
			border-radius: 50%;
			border: 2px solid white;
			display: block;
			&:before{
				content: '';
				width: 2px;
				height: 100%;
				background-color: #FFF;
				display: block;
				transform: rotate(45deg);
				margin: 0 auto;
			}
		}
	}
	&__footer{

		span{

			@include fz(40,48);
			vertical-align: middle;
			margin-right: 30px;
		}
		.btn{
			vertical-align: middle;
			
			line-height: normal;

		}
	
	}

}

/* -------------------------------
	health card
------------------------------- */

.health-card{
	
	@include fz(18,30);
	img{
		margin-top: 80px;
	}
	.header-offset{
		margin-bottom: 34px;
	}
	p{
		margin-bottom: 37px;
	}
	.ul{
		li{
			margin-bottom: 6px;
		}
		li:after{
			top: 6px;
		}
		margin-bottom: 54px;
	}
}

/* -------------------------------
	team
------------------------------- */

.team{

	&__header{
		border-bottom: 1px solid white;
		padding: 90px 0;
	}
	.swiper-controls{
		position: absolute;
		bottom: 50px;
		left: 0;
		z-index: 1;
	}

}

.team-item{
	padding-top: 20px;
	display: table;
	width: 100%;
	@include fz(15, 24);
	color: #403360;
	.text,.image{
		display: table-cell;
		vertical-align: bottom;
	}
	.image img{
		max-width: 460px;
	}
	.text{
		padding-bottom: 150px;
		p:nth-child(1){
			animation-delay: .2s;
		}
		p:nth-child(2){
			animation-delay: .4s;
		}
		p:nth-child(3){
			animation-delay: .6s;
		}
	}
	.name{
		@include fz(30,60);
	}
	.spec{
		@include fz(18,30);
		margin-bottom: 30px;
	}
}
.swiper-slide{
	.animated{
		display: none;
	}
}
.swiper-slide-active{
	.animated{
		display: block;
	}
	.image{
		display: table-cell;
	}
}


.swiper-container{
	position: relative;
}

.reviews{
	padding: 5px;
	margin: -5px;
	color: #898397;
	font-size: 16px;
	.swiper-pagination{
		display: none;
	}
	.swiper-wrapper{
		margin-bottom: 80px;
	}
	&__item{
		width: 100%;
		
		box-shadow: 0 0 10px rgba(44, 44, 44, 0.1);
		background-color: #ffffff;
		padding: 35px 38px;
		.time{
			color: #403360;
			@include fz(14,21);
		}
		.name{
			color: #403360;
			@include fz(24 ,24);
			margin: 15px 0;
		}
	}
	&__footer{
		font-size: 18px;
		margin-bottom: 60px;
		.swiper-controls{
			float: left;
		}
		.btn{
			margin: 3px 0;
			min-width: 212px;
			float: right;
			margin-left: 11px;
		}
	}
	&__form{
		z-index: 1;
		position: relative;
		display: none;
		&.active{
			display: block;
		}
	}
}

/* -------------------------------
		questions
------------------------------- */	

.page__questions{
	background: #F8F7FC;
}

.questions{
	color: #403360;
	margin-bottom: 50px;
	&__item{
		margin-bottom: 5px;
	}
	.quest,.answer{
		padding-left: 40px;
	}
	.quest{
		@include fz(21);
		padding-top: 17px;
		cursor: pointer;
		position: relative;
		padding-bottom: 17px;
		border-bottom: 1px solid #E1DAE9;
		&:before{
			font-family: icomoon;
			font-size: 10px;
			display: inline-block;			
			width: 16px;
			position: absolute;
			left: 0;
			right: 0;
			@include lh(10,24);
			@extend .icon-arrow;
			transition: transform .3s, color .5s;
			// transform: rotate(90deg);
		}
		&.active{
			
			&:before{
				transform: rotate(90deg);color: #B3246D;
			}
		}
	}
	.answer{
		@include fz(16,24);
		padding-top: 33px;
		padding-bottom: 33px;
		font-size: 16px;
		border-bottom: 1px solid #E1DAE9;
		display: none;
	}
}

/* -------------------------------
	quest additional
------------------------------- */

.quest-additional{
	padding: 35px 0 58px;
	@include fz(54,60);
	span{
		@include fz(18,18);
	}
	.tel{
		@include fz(48, 48);
		font-weight: 700;
	}
	.col-sm-6:first-child{
		padding-top: 28px;
	}
}

/* -------------------------------
	footer
------------------------------- */

.copyright{
	br{
		display: none;
	}
	font-size: 13px;
	display: inline-block;
	vertical-align: -10px;
	margin-left: 30px;
	color: #403360;
	white-space:nowrap;
}

.main-footer{
	padding: 60px 0;
	.main-logo{
		display: inline-block;
		img{
			max-width:none;
		}
	}
	.social{
		margin-right: 70px;
	}
	&__left{
		width: 1%;
		white-space: nowrap;
	}
}

/*-------------------------------------------------*/
/*  helper classes
/*-------------------------------------------------*/
.gradient-bg{
	background: linear-gradient(to left, #3C335B, #6D325D);
}
.gradient-bg-reverse{
	background-color: #b2296e;
	background-image: linear-gradient(to right, rgba(67, 61, 99, 0.81) 0%, rgba(129, 59, 101, 0.81) 100%);
}
.delay-2ms{
	animation-delay: .2s;
}
.delay-4ms{
	animation-delay: .4s;
}
.delay-6ms{
	animation-delay: .6s;
}
.delay-8ms{
	animation-delay: .8s;
}
.delay-10ms{
	animation-delay: .10s;
}
.gray-bg{
	background-color: #F8F7FC;
}
.color-white{
	color: white;
	*{
		color: white;
	}
}
.fl-left{
    float: left;
}
.fl-right{
    float:right;
}
.ta-left{
    text-align: left;
    text-align-last: left;
}
.ta-center{
    text-align: center;
    text-align-last: center;
}
.ta-right{
    text-align: right;
    text-align-last: right;
}
.blocks-justify{
	width: 100%;

	text-align: justify;
	
	/* Обнуляем для родителя*/
	line-height: 0;
	font-size: 1px; /* 1px для Opera */
	
	/* Лекарство для IE6-7*/
	text-justify: newspaper;
	zoom:1;
	
	/* Включаем в работу последнюю строку*/		
	text-align-last: justify;
	&:after	{
		width: 100%; 
		height: 0px;
		visibility: hidden;
		overflow: hidden;
		content: '';
		display: inline-block;
	}
	& > div	{
		display: inline-block;
		text-align: left;
		text-align-last: left;
		/* Востанавливаем у потомков, кроме последнего*/
		line-height: normal;
		font-size: 16px;
		
		/* Без него в Opera будет отступ под элементами */
		vertical-align: top; 
		
		/* эмуляция inline-block для IE6-7*/
		//display : inline;
		//zoom : 1;
	}
}
.hidden {
    display: none !important;
    visibility: hidden;
}
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}
.invisible {
    visibility: hidden;
}
.container:before,
.container:after,
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.container:after,
.clearfix:after {
    clear: both;
}
.container,
.clearfix {
    *zoom: 1;
}
/*-------------------------------------------------*/
/*    media
/*-------------------------------------------------*/
@-webkit-keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@import 'media';


